**/.DS_Store

**/.ensime_cache/*
/**/target/
/.ensime_cache
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/sqlDataSources.xml
/.idea/dynamic.xml
/.idea/uiDesigner.xml
/.idea/scala_compiler.xml
/out/
/.idea_modules/
/store/